/**
 * Base - Base Styles
 */

html {
  scroll-behavior: smooth;
  font-weight: var(--ac-font-weight-normal);
  line-height: var(--ac-line-height-base);
  font-family: var(--ac-font-primary);
  color: var(--ac-text-color);
}

body {
  min-height: 100vh; // Fallback for old browsers
  min-height: 100dvh;
}

a {
  color: var(--ac-interactive-color);
}

p {
  color: var(--ac-text-color);
}

b,
strong {
  font-weight: var(--ac-font-weight-medium);
}

figcaption,
blockquote {
  font-style: italic;
}

.main {
  padding-top: var(--ac-header-height);
}

:target {
  scroll-margin-top: calc(var(--ac-header-height) * -1);
}
