/**
 * Objects - Video Styles
 */

.video {
  &[playing] {
    --vid-play-display: none;
    --vid-pause-display: block;
  }
}

.video-bg {
  --ld-color: var(--vid-play-bg);

  background: var(--vid-bg);
  border-color: var(--vid-border);
}

.video-play,
.video-pause {
  --outline-color: var(--vid-play-bg);
}

.video-play {
  --sc: 1.08;

  width: 15%;
  min-width: var(--l);
  max-width: var(--2xl);
  color: var(--vid-play-color);
  display: var(--vid-play-display, block);
}

.video-pause {
  margin: var(--xs);
  background: hsla(var(--foreground-base-hsl), 0.75);
  display: var(--vid-pause-display, none);
}

.video-play-bg {
  background: var(--vid-play-bg);
  border-color: var(--vid-bg);
}

.video-icon {
  height: 40%;
}
