/**
 * Effects - Shift Styles
 */

/* Imports */

@forward "../../config/config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.e-shift,
.e-shift-item {
  transform: translate3d(0, var(--sh-y), 0) scale(var(--sh-scale, 1));
}

.e-shift,
.e-shift-hover {
  --sh-y: 0;

  &:hover {
    --sh-y: #{util.calc-rem(-5px)};
    --sh-scale: 1.01;
  }
}
