/**
 * Effects - Shift Styles
 */

.e-shift,
.e-shift-item {
  transform: translate3d(0, var(--sh-y), 0) scale(var(--sh-scale, 1));
}

.e-shift,
.e-shift-hover {
  --sh-y: 0;

  &:hover {
    --sh-y: -0.3125rem;
    --sh-scale: 1.01;
  }
}
