node_modules/
package-lock.json
site/
functions/*
!functions/ajax/
data/initialize.js
src/json/slugs.json
src/json/slug-parents.json
src/json/archive-ids.json
src/json/archive-posts.json
src/json/nav-data.json
src/json/image-data.json
src/json/form-meta.json
src/render/**/*.js
src/utils/**/*.js
src/vars/**/*.js
.DS_Store
.cache
.vscode
.dev.vars
.env
.eleventy.js
