node_modules/
package-lock.json
site/
functions/*
!functions/ajax/
data/initialize.js
src/json/archive-ids.json
src/json/archive-posts.json
src/json/archive-terms.json
src/json/form-meta.json
src/json/image-data.json
src/json/navigations.json
src/json/slug-parents.json
src/json/slugs.json
src/components/**/*.js
src/config/**/*.js
src/layouts/**/*.js
src/objects/**/*.js
src/serverless/**/*.js
src/svg/**/*.js
.DS_Store
.cache
.dev.vars
.env
.eleventy.js
