/**
 * Objects - Info Styles
 */

.info-neutral {
  --info-bg: var(--muted-bg);
}

.info-error {
  --info-bg: hsla(var(--negative-color-hsl), 0.075);
  --text-color: var(--negative-color);
}

.info-success {
  --info-bg: hsla(var(--positive-color-hsl), 0.075);
  --text-color: var(--positive-color);
}

.info-neutral,
.info-error,
.info-success {
  --interactive-color: var(--text-color);
  --sharp-color: var(--text-color);

  color: var(--text-color);
  background: var(--info-bg);

  [tabindex="-1"]:focus & {
    box-shadow: inset 0 0 0 var(--outline-width) var(--text-color);
  }
}
