/**
 * Objects - Info Styles
 */

.info-neutral {
  --info-bg: var(--ac-muted-color);
}

.info-error {
  --info-bg: hsla(var(--ac-negative-hsl), 0.075);
  --ac-text-color: var(--ac-negative-color);
}

.info-success {
  --info-bg: hsla(var(--ac-positive-hsl), 0.075);
  --ac-text-color: var(--ac-positive-color);
}

.info-neutral,
.info-error,
.info-success {
  --ac-interactive-color: var(--ac-text-color);
  --ac-sharp-color: var(--ac-text-color);

  color: var(--ac-text-color);
  background: var(--info-bg);

  &[tabindex="-1"]:focus {
    box-shadow: inset 0 0 0 var(--ac-outline-width) var(--ac-text-color);
  }
}
