/**
 * Layouts - Width
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;
@use "@alanizcreative/formation/lib/layouts/Width/Width";

/* Styles */

.w-custom {
  --width-init: 100%;
  --width-small: 100%;
  --width-medium: 100%;
  --width-large: 100%;
  --width: var(--width-init);

  width: var(--width);

  @include util.breakpoint-min("s") {
    --width: var(--width-small);
  }

  @include util.breakpoint-min("m") {
    --width: var(--width-medium);
  }

  @include util.breakpoint-min("l") {
    --width: var(--width-large);
  }
}
