/**
 * Layouts - position
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/mixins" as mix;
@use "@alanizcreative/formation/src/layouts/position";

/* Styles */

.l-relative-m {
  @include mix.breakpoint-min("m") {
    position: relative;
  }
}

.l-left-10-pc {
  left: 10%;
}

.l-right-10-pc {
  right: 10%;
}

.l-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
