/**
 * Layouts - width
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/mixins" as mix;
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/layouts/width";

/* Styles */

.l-width-custom {
  --width: 100%;
  --width-small: 100%;
  --width-medium: 100%;
  --width-large: 100%;
  --w: var(--width);

  width: var(--w);

  @include mix.breakpoint-min("s") {
    --w: var(--width-small);
  }

  @include mix.breakpoint-min("m") {
    --w: var(--width-medium);
  }

  @include mix.breakpoint-min("l") {
    --w: var(--width-large);
  }
}

.l-max-width-card {
  max-width: func.calc-rem(900px)
}

.l-min-width-4xl {
  min-width: var(--4xl);
}
