/**
 * Objects - button
 */

/* Imports */

@use "@alanizcreative/formation/src/config";

/* Styles */

.o-button {
  --padding: var(--3xs) var(--xs);
  --size: var(--t);

  @extend %u-font-weight-bold;
  @extend %u-line-height-150-pc;
  @extend %u-display-inline-flex;
  @extend %u-justify-content-center;
  @extend %u-align-items-center;
  @extend %u-position-relative;
  @extend %u-letter-spacing-3-pc;

  padding: var(--padding);
  font-size: var(--t);

  svg {
    margin-left: var(--3xs);
  }

  &:hover {
    transform: translate3d(0, -0.2rem, 0) scale(1.01);
  }
}

.o-button-main {
  background: var(--main-button-bg);
  color: var(--main-button-color);
}

.o-button-secondary {
  color: var(--secondary-button-color);
}

.o-button-large {
  --padding: var(--2xs) var(--s);

  @extend %u-line-height-130-pc;
}
