/**
 * Objects - form
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.o-form {
  --input-padding: var(--xs) var(--s);
  --label-margin: var(--3xs);
  --border-width: 0.0625rem;

  fieldset {
    width: 100%;
  }

  label {
    display: block;
  }

  label,
  legend {
    > span:first-child {
      font-size: var(--h6);
      line-height: var(--line-height-base);
      letter-spacing: var(--letter-spacing-loose);
      font-weight: var(--font-weight-medium);
      color: var(--sharp-color);
    }
  }

  label:first-child,
  legend:first-child {
    margin-bottom: var(--label-margin);
  }

  input[type="search"],
  input[type="password"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="url"],
  textarea,
  select {
    width: 100%;
    padding: var(--input-padding);
    border-radius: var(--border-radius-s);
    font-size: var(--text-m);
    line-height: var(--line-height-loose);
    font-weight: var(--font-weight-normal);
    box-shadow: inset 0 0 0 var(--border-width) var(--border-color);
    transition: box-shadow var(--duration) var(--easing);

    &[aria-invalid="true"] {
      --border-color: var(--negative);
      --border-width: 0.1rem;

      &:focus {
        --border-color: var(--outline-color);
      }
    }

    &:focus {
      --outline-width: 0;
      --border-color: var(--outline-color);
      --border-width: 0.1875rem;
    }
  }

  /* Honeypot */

  [data-asi] {
    display: none;
  }

  /* Required */

  legend[data-required] > span:first-child [data-required-icon]::after,
  [data-label][data-required] > span:first-child [data-required-icon]::after,
  [data-required] > [data-label] > span:first-child [data-required-icon]::after {
    content: " *";
    color: var(--negative);
  }
}

/* Result */

.o-form__error {
  color: var(--negative);
}
