/**
 * Objects - Form Styles
 */

.form {
  --ld-bg: var(--ac-sharp-color);
  --ld-color: var(--ac-inverse-color);
  --ld-radius: var(--ac-border-radius-l);
}

.form-field-hp {
  display: none;
}

.form-label [data-form-label] {
  font-size: var(--ac-font-20-flex);
  letter-spacing: var(--ac-letter-spacing-loose);
  line-height: var(--ac-line-height-base);
  font-weight: var(--ac-font-weight-medium);
  color: var(--ac-sharp-color);
  margin-bottom: var(--ac-3xs);
  display: block;
}

.form-input-password {
  --ac-letter-spacing-open: 0.1em;
}

.form-input-password,
.form-input-text,
.form-input-email,
.form-input-url,
.form-input-select,
.form-input-textarea {
  --ac-border-width: 0.0625rem;

  width: 100%;
  padding: var(--ac-xs) var(--ac-s);
  border-radius: var(--ac-border-radius-s);
  font-size: var(--ac-font-20-flex);
  line-height: var(--ac-line-height-loose);
  letter-spacing: var(--ac-letter-spacing-open);
  font-weight: var(--ac-font-weight-normal);
  box-shadow: inset 0 0 0 var(--ac-border-width) var(--ac-border-color);
  transition: box-shadow var(--ac-duration) var(--ac-easing);

  &[aria-invalid="true"] {
    --ac-border-color: var(--ac-negative-color);
    --ac-border-width: 0.1rem;

    &:focus {
      --ac-border-color: var(--ac-outline-color);
    }
  }

  &:focus {
    --ac-outline-width: 0;
    --ac-border-color: var(--ac-outline-color);
    --ac-border-width: 0.1875rem;
  }
}

.form-required-icon,
.form-error-inline {
  color: var(--ac-negative-color);
}
