/**
 * Components - Skip Link Global Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/components/SkipLink/SkipLink";

/* Styles */

.skip-link {
  position: absolute;

  &:focus {
    top: var(--ac-2xs);
    left: var(--ac-2xs);
  }
}
