/**
 * Text - Column Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.text-col-2 {
  @include util.breakpoint-min("s") {
    column-count: 2;
    column-gap: var(--ac-m);
  }
}

.text-span {
  column-span: all;
}

.text-no-br {
  break-inside: avoid;
}
