/**
 * Text - Column Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.text-col-2 {
  @include mix.breakpoint-min("s") {
    column-count: 2;
    column-gap: var(--m);
  }
}

.text-span {
  column-span: all;
}
