/**
 * Text - Rich Text Styles
 */

/* Imports */

@forward "../../config/config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.rich-text {
  --rt-max: var(--ac-l); // 50px
  --rt-high: var(--ac-m); // 30px
  --rt-mid: var(--ac-m) + var(--ac-4xs); // 35px
  --rt-low: var(--ac-m); // 30px
  --rt-term: var(--ac-3xs); // 10px
  --rt-text-size: var(--ac-font-20-flex);
  --rt-text-lead: var(--ac-line-height-loose);
  --rt-text-track: var(--ac-letter-spacing-open);
  --rt-quote: 0rem;

  h2 {
    margin: var(--rt-max) 0 var(--rt-low);
  }

  h3,
  h4,
  h5,
  h6 {
    margin: calc(var(--rt-mid)) 0 var(--rt-low);
  }

  dt,
  dd,
  p[data-rich],
  li[data-rich] {
    font-size: var(--rt-text-size);
    line-height: var(--rt-text-lead);
    letter-spacing: var(--rt-text-track);
  }

  p[data-rich],
  ul[data-rich],
  ol[data-rich] {
    margin: var(--rt-low) 0;
  }

  blockquote[data-rich],
  > div {
    margin: var(--rt-high) 0;
  }

  blockquote[data-rich] {
    --rt-text-size: ;
    --rt-text-lead: ;
    --rt-text-track: ;
    --rt-low: 0;

    border-left: #{util.calc-rem(3px)} solid var(--ac-sharp-color);
    padding-left: clamp(var(--ac-xs), 5%, var(--ac-m));
    margin-left: var(--rt-quote);
  }

  ul[data-rich],
  ol[data-rich] {
    padding-left: clamp(var(--ac-2xs), 3%, var(--ac-s));
  }

  ol[data-rich] ol {
    list-style-type: lower-alpha;
  }

  li[data-rich] {
    margin-top: var(--ac-4xs);
    padding-left: var(--ac-4xs);

    &::marker {
      font-size: 0.9em;
    }
  }

  dt,
  dd {
    --rt-text-lead: var(--ac-line-height-base);
  }

  dt {
    --rt-text-size: var(--ac-font-25-flex);

    font-weight: var(--ac-font-weight-medium);
    color: var(--ac-sharp-color);
    margin-bottom: var(--rt-term);
  }

  dd {
    margin-bottom: var(--ac-3xs);
  }

  [data-rich]:first-child,
  > :first-child {
    margin-top: 0;
  }

  [data-rich]:last-child,
  > :last-child {
    margin-bottom: 0;
  }

  @include util.breakpoint-min("l") {
    --rt-max: var(--ac-2xl); // 100px
    --rt-high: var(--ac-l); // 50px
    --rt-mid: var(--ac-m) + var(--ac-3xs); // 40px
    --rt-quote: var(--ac-xs); // 20px
    --rt-term: var(--ac-2xs); // 15px
  }
}
