/**
 * Themes - Styles
 */

.themeable {
  --theme-color: var(--theme-dark);
}

.theme {
  --interactive-color: var(--theme-color);

  color: var(--theme-color);
}

@media (prefers-color-scheme: dark) {
  .bg-background-light {
    --outline-color: var(--background-light);
    --text-color: hsla(var(--background-light-hsl), 0.85);
    --sharp-color: var(--background-light);
    --inverse-color: var(--foreground-base);
    --interactive-color: var(--background-light);
    --muted-color: hsla(var(--background-light-hsl), 0.075);
    --negative-color-hsl: var(--negative-light-hsl);
    --positive-color-hsl: var(--positive-light-hsl);
    --theme-color: var(--theme-primary-light);

    background: var(--foreground-base);
  }

  .bg-foreground-base {
    --outline-color: var(--foreground-base);
    --sharp-color: var(--foreground-base);
    --inverse-color: var(--background-light);
    --interactive-color: var(--foreground-base);
    --text-color: hsla(var(--foreground-base-hsl), 0.75);
    --muted-color: hsla(var(--foreground-base-hsl), 0.075);
    --negative-color-hsl: var(--negative-dark-hsl);
    --positive-color-hsl: var(--positive-dark-hsl);
    --theme-color: var(--theme-primary-dark);

    background: var(--background-light);
  }

  .themeable {
    --theme-color: var(--theme-light);
  }

  .b-theme {
    --border-color: transparent;
  }

  .media {
    --med-theme-color: transparent;
  }
}
