/**
 * Text - Size Styles
 */

h1,
h2,
h3,
h4,
h5,
h6,
.heading-3xl,
.heading-2xl,
.heading-xl,
.heading-l,
.heading-m,
.heading-s,
.heading-xs,
.heading-2xs {
  color: var(--ac-sharp-color);
}

h1,
h2,
h3,
h4,
.heading-3xl,
.heading-2xl,
.heading-xl,
.heading-l,
.heading-m,
.heading-s {
  letter-spacing: var(--ac-letter-spacing-base);
}

h1,
h2,
h3,
.heading-3xl,
.heading-2xl,
.heading-xl,
.heading-l,
.heading-m {
  line-height: var(--ac-line-height-close);
}

h4,
h5,
h6,
.heading-s,
.heading-xs,
.heading-2xs {
  line-height: var(--ac-line-height-base);
}

h1,
.heading-3xl,
.heading-2xl,
.heading-xl {
  font-weight: var(--ac-font-weight-normal);
}

h2,
h3,
h4,
h5,
h6,
.heading-l,
.heading-m,
.heading-s,
.heading-xs,
.heading-2xs {
  font-weight: var(--ac-font-weight-medium);
}

p,
.text-l,
.text-m,
.text-s,
.text-xs {
  line-height: var(--ac-line-height-loose);
  letter-spacing: var(--ac-letter-spacing-open);
}

h1,
.heading-3xl {
  font-size: var(--ac-font-70-flex);
}

.heading-2xl {
  font-size: var(--ac-font-60-flex);
}

.heading-xl {
  font-size: var(--ac-font-55-flex);
}

h2,
.heading-l {
  font-size: var(--ac-font-50-flex);
}

h3,
.heading-m {
  font-size: var(--ac-font-40-flex);
}

h4,
.heading-s {
  font-size: var(--ac-font-30-flex);
}

h5,
.heading-xs {
  font-size: var(--ac-font-25-flex);
  letter-spacing: var(--ac-letter-spacing-open);
}

h6,
.heading-2xs {
  font-size: var(--ac-font-20-flex);
  letter-spacing: var(--ac-letter-spacing-loose);
}

.text-quote {
  font-style: italic;
  line-height: var(--ac-line-height-open);
  letter-spacing: var(--ac-letter-spacing-open);
  font-weight: var(--ac-font-weight-medium);
}

p,
.text-l,
.text-quote {
  font-size: var(--ac-font-25-flex);
}

.text-m {
  font-size: var(--ac-font-20-flex);
}

.text-s {
  font-size: var(--ac-font-16);
}

.text-xs {
  font-size: var(--ac-font-14);
}
