/**
 * Components - Header Global Styles
 */

/* Imports */

@use "sass:map";
@use "@alanizcreative/formation/lib/config/config" as con;

/* Styles */

.header {
  height: var(--ac-header-height);
  z-index: map.get(con.$z-index, "header");
}
