/**
 * Backgrounds - Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/backgrounds/backgrounds";

/* Styles */

.bg-background-light {
  --ac-text-color: hsla(var(--ac-foreground-base-hsl), 0.85);
  --ac-sharp-color: var(--ac-foreground-base);
  --ac-inverse-color: var(--ac-background-light);
  --ac-interactive-color: var(--ac-foreground-base);
  --ac-muted-color: hsla(var(--ac-foreground-base-hsl), 0.075);
  --ac-theme-color: var(--ac-theme-primary-dark);
  --ac-negative-hsl: var(--ac-negative-dark-hsl);
  --ac-positive-hsl: var(--ac-positive-dark-hsl);

  color: var(--ac-text-color);
}

.bg-foreground-base {
  --ac-outline-color: var(--ac-background-light);
  --ac-sharp-color: var(--ac-background-light);
  --ac-inverse-color: var(--ac-foreground-base);
  --ac-interactive-color: var(--ac-background-light);
  --ac-text-color: hsla(var(--ac-background-light-hsl), 0.75);
  --ac-muted-color: hsla(var(--ac-background-light-hsl), 0.075);
  --ac-theme-color: var(--ac-theme-primary-light);
  --ac-negative-hsl: var(--ac-negative-light-hsl);
  --ac-positive-hsl: var(--ac-positive-light-hsl);

  color: var(--ac-text-color);
}

.bg-background-light,
.bg-foreground-base {
  --ac-negative-color: hsla(var(--ac-negative-hsl), 1);
  --ac-positive-color: hsla(var(--ac-positive-hsl), 1);
}

.bg-current {
  background: currentcolor;
}

.bg-muted {
  background: var(--ac-muted-color);
}

.bg-bright {
  background: var(--ac-background-light);
}
