/**
 * Components - Footer Styles
 */

/* Imports */

@forward "../../config/config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.footer {
  margin-top: calc(var(--3xs) * -1);

  @include util.breakpoint-min("m") {
    --ft-relative: relative;
    --ft-legal: var(--sharp-color);
  }
}

.footer-blob {
  z-index: -1;
  min-width: 80rem;
  height: calc(100% - var(--l));
  right: util.fluid-size-clamp((-450px, -100px), ("s", "m"));
  bottom: #{util.calc-rem(-1px)};
  color: var(--sharp-color);

  @include util.breakpoint-min("xl") {
    width: calc(80rem + (50vw - (var(--container-no-padding) / 2) - #{util.calc-rem(270px)}));
    right: #{util.calc-rem(-270px)};
  }
}

.footer-relative {
  position: var(--ft-relative, static);
}

.footer-legal {
  color: var(--ft-legal, var(--inverse-color));
}
