/**
 * Components - Footer Styles
 */

/* Imports */

@forward "../../config/config";
@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

.footer {
  --sharp-color: var(--background-light);
  --interactive-color: var(--background-light);

  @include mix.breakpoint-min("m") {
    --ft-relative: relative;
    --ft-legal: var(--foreground-base);
  }
}

.footer-blob {
  z-index: -1;
  min-width: 80rem;
  height: calc(100% - var(--l));
  right: util.fluid-size-clamp((-450px, -100px, -270px), ("s", "m", "l"));
  bottom: #{util.calc-rem(-1px)};

  @include util.breakpoint-min("2xl") {
    width: calc(80rem + (50vw - (var(--container-no-padding) / 2) - #{util.calc-rem(270px)}));
  }
}

.footer-relative {
  position: var(--ft-relative, static);
}

.footer-legal {
  --sharp-color: var(--ft-legal, var(--background-light));
}
