/**
 * Colors - Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/colors/colors";

/* Styles */

.sharp {
  color: var(--sharp-color);
}

.current {
  --interactive-color: currentcolor;

  color: currentcolor;
}

.theme {
  --sharp-color: var(--theme-color);
}
