/**
 * Colors - Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/colors/colors";

/* Styles */

.sharp {
  color: var(--ac-sharp-color);
}

.current {
  --ac-interactive-color: currentcolor;

  color: currentcolor;
}
