/**
 * Effects - underline
 */

/* Styles */

.e-underline-all a,
.e-underline a[data-rich],
.e-underline-reverse a[data-rich] {
  --duration: 200ms;

  text-decoration: underline;
  text-decoration-thickness: var(--underline);
  text-underline-offset: var(--underline-offset);
  text-decoration-color: var(--color);
  transition:
    text-decoration-color var(--duration),
    text-underline-offset var(--duration);
}

.e-underline-all a,
.e-underline a[data-rich] {
  --color: currentcolor;
}

.e-underline-reverse a[data-rich] {
  --color: transparent;
}

.e-underline-all a:hover,
.e-underline-all a:active,
.e-underline a[data-rich]:hover,
.e-underline a[data-rich]:active {
  --underline-offset: 0.25rem;
}

.e-underline-reverse a[data-rich]:hover,
.e-underline-reverse a[data-rich]:active {
  --color: currentcolor;
}
