/**
 * Config - mixins
 */

/* Imports */

@use "@alanizcreative/formation/src/utils/functions" as func;
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

@mixin set-text() {
  /* h1 */

  @include mix.fluid-size(
    --h1,
    func.calc-rem(40px) func.calc-rem(70px),
    "s" "l"
  );

  /* h2-l */

  @include mix.fluid-size(
    --h2-l,
    func.calc-rem(36px) func.calc-rem(60px),
    "s" "l"
  );

  /* h2-d */

  @include mix.fluid-size(
    --h2-d,
    func.calc-rem(33px) func.calc-rem(55px),
    "s" "l"
  );

  /* h2 */

  @include mix.fluid-size(
    --h2,
    func.calc-rem(30px) func.calc-rem(50px),
    "s" "l"
  );

  /* h3 */

  @include mix.fluid-size(
    --h3,
    func.calc-rem(25px) func.calc-rem(40px),
    "s" "l"
  );

  /* h4 */

  @include mix.fluid-size(
    --h4,
    func.calc-rem(22px) func.calc-rem(30px),
    "s" "l"
  );

  /* h5 */

  @include mix.fluid-size(
    --h5,
    func.calc-rem(20px) func.calc-rem(25px),
    "s" "l"
  );

  /* h + t */

  --h6: #{func.calc-rem(18px)};
  --t: #{func.calc-rem(18px)};
  --t-s: #{func.calc-rem(16px)};
  --t-xs: #{func.calc-rem(14px)};

  @include mix.breakpoint-min("m") {
    --h6: #{func.calc-rem(20px)};
    --t: #{func.calc-rem(20px)};
  }

  /* t-l */

  @include mix.fluid-size(
    --t-l,
    func.calc-rem(21px) func.calc-rem(25px),
    "s" "l"
  );
}
