/**
 * Objects - Button Global Styles
 */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding: var(--btn-padding, var(--ac-3xs) var(--ac-xs));
  font-size: var(--ac-font-20-flex);
  line-height: var(--ac-line-height-open);
  letter-spacing: var(--ac-letter-spacing-loose);
  font-weight: var(--ac-font-weight-bold);
  transform: translate3d(0, var(--btn-y, 0), 0) scale(var(--btn-scale, 1));

  &:hover {
    --btn-scale: 1.01;
    --btn-y: -0.2rem;
  }
}

.button-primary {
  background: var(--btn-fill, var(--ac-sharp-color));
  color: var(--btn-color, var(--ac-inverse-color));
}

.button-secondary {
  color: var(--btn-stroke, var(--ac-sharp-color));
}

.button-sharp {
  --btn-stroke: var(--ac-sharp-color);
  --btn-fill: var(--ac-sharp-color);
}

.button-l {
  --btn-padding: var(--ac-2xs) var(--ac-s);

  line-height: var(--ac-line-height-base);
}

.button-xl {
  --btn-padding: var(--ac-xs) var(--ac-s);

  line-height: var(--ac-line-height-loose);
}
