/**
 * Effects - Underline Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/utils/utils" as util;

/* Styles */

%e-line {
  --ln-prop: text-decoration-color, text-underline-offset;
  --ln-color: var(--ln-from, currentcolor);
  --ln-duration: 200ms;
  --ln-width: #{util.calc-rem(1px)};
  --ln-offset: #{util.calc-rem(6px)};

  text-decoration: underline;
  text-decoration-thickness: #{util.calc-rem(1px)};
  text-underline-offset: var(--ln-offset);
  text-decoration-color: var(--ln-color, currentcolor);
}

%e-line-transition {
  transition-property: var(--ln-prop);
  transition-duration: var(--ln-duration);
  transition-timing-function: var(--ac-easing);

  &:hover,
  &:active,
  &:focus,
  &[aria-current="page"] {
    --ln-color: var(--ln-to, currentcolor);
    --ln-offset: var(--ln-offset-to, #{util.calc-rem(6px)});
  }
}

.e-line-all a,
.e-line-up a[data-rich] {
  --ln-from: currentcolor;
  --ln-to: currentcolor;
  --ln-offset-to: #{util.calc-rem(4px)};

  @extend %e-line;
  @extend %e-line-transition;
}

.e-line-in a[data-rich] {
  --ln-from: transparent;
  --ln-to: currentcolor;

  @extend %e-line;
  @extend %e-line-transition;
}

.e-line-out a[data-rich] {
  --ln-from: currentcolor;
  --ln-to: transparent;

  @extend %e-line;
  @extend %e-line-transition;
}
