/**
 * Text - color
 */

/* Imports */

@use "sass:color";
@use "@alanizcreative/formation/src/text/color" as c;
@use "@alanizcreative/formation/src/utils/functions" as func;

/* Styles */

.t-light {
  --outline-color: var(--background-light);
  --heading-color: var(--background-light);
  --link-color: var(--background-light);
  --text-color: #{rgba(func.get-color("background-light"), 0.75)};
  --negative: var(--negative-light);
  --positive: var(--positive-light);
  --negative-bg: #{rgba(func.get-color("negative-light"), 0.075)};
  --positive-bg: #{rgba(func.get-color("positive-light"), 0.075)};
  --muted-bg: #{rgba(func.get-color("background-light"), 0.075)};
  --loader-color: var(--foreground-base);

  color: var(--text-color);
}

.t-sharp {
  color: var(--heading-color);
}

.t-theme-main {
  --heading-color: var(--theme-main);
}

.t-link-current {
  --link-color: currentcolor;
}

.t-current {
  color: currentcolor;
}
