/**
 * Text - rich text
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.t-rich-text {
  h2 {
    margin-top: var(--l);
  }

  h3,
  h4,
  h5,
  h6 {
    margin-top: var(--m);
  }

  h4,
  h5,
  h6 {
    padding-top: var(--4xs);
  }

  dd,
  p[data-rich],
  li[data-rich] {
    font-size: var(--t);
  }

  blockquote[data-rich] {
    font-style: italic;
  }

  figure[data-rich="blockquote"] {
    border-left: 0.1875rem solid var(--heading-color);
    padding-left: var(--xs);
    margin-top: var(--m);

    p {
      font-size: inherit;
      line-height: inherit;
    }

    figcaption {
      padding-top: var(--2xs);
    }
  }

  ul[data-rich],
  ol[data-rich] {
    margin-left: var(--2xs);
    margin-top: -0.625rem;
  }

  ol[data-rich] ol {
    list-style-type: lower-alpha;
  }

  li[data-rich] {
    margin-top: var(--4xs);
    padding-left: var(--4xs);

    &::marker {
      font-size: 0.9em;
    }
  }

  div[data-button] {
    margin-top: var(--mb-l);
  }

  dt,
  dd {
    @extend %u-line-height-130-pc;
    @extend %u-letter-spacing-2-pc;

    margin-bottom: var(--3xs);
  }

  dt {
    @extend %u-line-height-130-pc;
    @extend %u-font-weight-medium;
    @extend %u-color-foreground-base;

    font-size: var(--h5);
  }

  &[data-mb] {
    --mb: var(--m);
    --mb-l: var(--m);

    h2,
    h3,
    h4,
    h5,
    h6,
    p[data-rich],
    ul[data-rich],
    ol[data-rich] {
      margin-bottom: var(--mb);
    }

    figure[data-rich="blockquote"] {
      margin-bottom: var(--mb-l);
    }
  }

  [data-rich]:first-child {
    padding-top: 0;
    margin-top: 0;
  }

  [data-rich]:last-child {
    margin-bottom: 0;
  }

  @include mix.breakpoint-min("l") {
    &[data-mb] {
      --mb-l: var(--l);
    }

    h2 {
      margin-top: var(--2xl);
    }

    h3 {
      margin-top: var(--l);
    }

    h4,
    h5,
    h6 {
      padding-top: var(--3xs);
    }

    dt {
      margin-bottom: var(--2xs);
    }

    ul[data-rich],
    ol[data-rich] {
      margin-left: var(--s);
    }

    figure[data-rich="blockquote"] {
      margin-top: var(--l);
      margin-left: var(--xs);
      padding-left: var(--m);
    }
  }
}
