/**
 * Text - rich text
 */

/* Imports */

@use "@alanizcreative/formation/src/config";
@use "@alanizcreative/formation/src/utils/mixins" as mix;

/* Styles */

.t-rich-text {
  h2 {
    margin: var(--l) 0 var(--m);
  }

  h3,
  h4,
  h5,
  h6 {
    margin: var(--m) 0 var(--m);
  }

  h4,
  h5,
  h6 {
    padding-top: var(--4xs);
  }

  p[data-inline] {
    margin-bottom: var(--m);
  }

  dd,
  p[data-inline],
  li[data-inline] {
    font-size: var(--t);
  }

  figcaption[data-inline],
  blockquote[data-inline] {
    font-style: italic;
  }

  blockquote[data-inline] {
    border-left: 0.1875rem solid var(--heading-color);
    padding-left: var(--xs);
    margin: var(--m) 0;

    p {
      font-size: inherit;
      line-height: inherit;
    }
  }

  ul[data-inline],
  ol[data-inline] {
    margin: 0 0 var(--m) var(--2xs);
  }

  ol[data-inline] ol {
    list-style-type: lower-alpha;
  }

  li[data-inline] {
    margin-top: var(--4xs);
    padding-left: var(--4xs);

    &::marker {
      font-size: 0.9em;
    }
  }

  div[data-button] {
    margin-top: var(--m);
  }

  dt,
  dd {
    @extend %u-line-height-130-pc;
    @extend %u-letter-spacing-2-pc;

    margin-bottom: var(--3xs);
  }

  dt {
    @extend %u-line-height-130-pc;
    @extend %u-font-weight-medium;
    @extend %u-color-foreground-base;

    font-size: var(--h5);
  }

  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child,
  dd:first-child,
  blockquote[data-inline]:first-child,
  p[data-inline]:first-child,
  ul[data-inline]:first-child,
  ol[data-inline]:first-child,
  div[data-button]:first-child {
    margin-top: 0;
  }

  h2:last-child,
  h3:last-child,
  h4:last-child,
  h5:last-child,
  h6:last-child,
  dd:last-child,
  blockquote[data-inline]:last-child,
  p[data-inline]:last-child,
  ul[data-inline]:last-child,
  ol[data-inline]:last-child,
  div[data-button]:last-child {
    margin-bottom: 0;
  }

  h4:first-child,
  h5:first-child,
  h6:first-child {
    padding-top: 0;
  }

  @include mix.breakpoint-min("l") {
    h2 {
      margin: var(--2xl) 0 var(--m);
    }

    h3 {
      margin: var(--l) 0 var(--m);
    }

    h4,
    h5,
    h6 {
      padding-top: var(--3xs);
    }

    dt {
      margin-bottom: var(--2xs);
    }

    div[data-button] {
      margin-top: var(--l);
    }

    ul[data-inline],
    ol[data-inline] {
      margin: 0 0 var(--m) var(--s);
    }

    blockquote[data-inline] {
      padding-left: var(--m);
      margin: var(--l) 0 var(--l) var(--xs);
    }
  }
}
