/**
 * Effects - Styles
 */

/* Imports */

@use "@alanizcreative/formation/lib/effects/Transition/Transition";
@use "./Quad/Quad";
@use "./Line/Line";
@use "./Shift/Shift";

/* Remove animations */

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  #ac .ac {
    *,
    *::before,
    *::after {
      --ac-duration: 0.001ms;
      --ac-easing: linear;

      transition: none;
      transition-timing-function: linear;
      transition-duration: var(--ac-duration);
      animation-duration: var(--ac-duration);
      animation-iteration-count: 1;
    }
  }
}
